# Personal data ignore
uploads
db.sqlite3

# Ignore python compile files
__pycache__
*.pyc
*.pyo
*.pyd

# ignore workspace settings
.vscode
workspace.sublime-project
.editorconfig
.nanorc

# ignore pipfile settings
Pipfile
Pipfile.lock

# ignore documentation
README.md

# ignore git files
.git
.gitignore

# ignore docker files
.dockerignore
Dockerfile

# ignore environment files
.env
